/*-- scss:functions --*/

/*-- scss:defaults --*/

/*-- scss:rules --*/

@font-face {
	font-family: whitney-book;
	src: url("pkgdown/fonts/whitney-book.otf");
}

// whitney book is missing minus sign codepoint, add from another font
@font-face {
  font-family: whitney-book;
  src: url("pkgdown/fonts/SourceSansPro-Regular.ttf");
  unicode-range: U+2212;
}
